body {
  background-color: var(--corPrincipal);
  color: var(--corTerciaria);
  font-family: var(--fontePrincipal);
  
}
h1 {
  text-align: center;
  font-size: 70px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 13%;
  text-align: center;
}

.container p {
  font-size: 30px;
  margin-top: 15px;
}

img {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  border-radius: 10px;
  border: 2px solid var(--corOpcional);
  border-radius: 10px;
}
img:hover {
  border: outset 2px var(--corOpcional);
}

input[type="file"]{
  display: none;
}

label{
  margin-top: 15px;
  width: 150px;
  border-radius: 10px;
  background-color: var(--corOpcional);
  cursor: pointer;
}

label:hover{
  background-color: #9640e5;
}