/* adaptando o estilo dos trailers */
.carousel {
    display: flex;
    flex-direction: column;
}

.trailers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.trailers-list {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.trailer-item {
    display: block;
    height: 303px;
    width: 280px;
    flex-grow: 1;
}

.description-trailer {
    margin-top: 1rem;
    display: grid;
    text-align: start;
    column-gap: 1rem;
    row-gap: 10px;
    grid-template-columns: 0.2fr 1fr;
}

.logo-GitPlus {
    grid-area: 1 / 1 / 3 / 2;
    width: 130%;
}

.the-trailer:hover {
    transform: scale(1.05);
    border-color: var(--corOpcional);
    box-shadow: 0 0 10px red;
}


